
html{
    font-family: 'Roboto', sans-serif;

}
body{
    margin: 0;
    padding: 0;
    
}
h1{
    font-size: 24px;
}
h2{
    font-size: 18px;
}
p{
    font-size: 11px;
}

#navbar{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
    padding-top: 40px;
}
#navbar a{
    padding: 20px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    
}
.arrow{
    align-self: center;
    margin-top: 60%;
}
header{
    text-align: center;
    background-image: url(./resources/pexels-gryffyn-m-5290758.jpg);
    background-position: center;
    background-size: cover;
    height: 94vh;
    padding: 20px;
    border: none;
}
.header-1 {
    font-size: 45px;
    color: whitesmoke;
    font-weight: bold;
    word-wrap: break-word;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 0px;

}
.header-2 {
    text-align: left;
    font-size: 18px;
    font-weight: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #A8A8A8;
    text-decoration: none;
}
#head-div{
    display: flex;
    flex-direction: column-reverse;
}   
.body-h1{
    font-size: 55px;
    color: #0C1212;
    font-weight: 700;
    word-wrap: break-word;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 100px;
    margin-bottom: 50px
}

.body-h2{
    font-family: 'Montserrat', serif;
    color: black;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.body-subhead{
    font-family: 'Montserrat',serif;
    font-weight: bold;
    font-size: 16px;
}
.body-p{
    font-family: 'Montserrat',serif;
    text-align: center;
    font-size: 14px;
    width: 80%;
    margin-bottom: 20px;
}
main img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    
}
#Portfolio{
    padding-bottom: 60px;
}
.gallery{
    background: #010101;
}
.main-carousel{
    height: 75vh;
    margin-bottom: 50px;
}

.carousel-cell {
    padding-top: 20px;
    padding-bottom: 40px;
    width: 100%;
    /* background: #8C8; */
    border-radius: 5px;
    /* counter-increment: gallery-cell; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* .image-container{
      position: relative;
  }
  .cd-effect {
      position: absolute;
  } */
  .image-div{
    background-color: #fdfdfd;
    background-image: url(./resources/pexels-gryffyn-m-5290758.jpg);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
  }
.cd-effect{
    -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.75);
    background-color: white;
    height: 70px;
    width: 70px;
    border-radius: 50%;

}
.portfolio-a-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
  
footer{
    background-color: #0C1212; 
    padding-bottom: 20px;
}
.footer-h1{
    color: white;
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
    padding: 20px;
}

address a{
    text-decoration: none;
    color: white;
    font-style: normal;
    text-align: center;

}
.icon-div{
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-div img{
    height: 40px;
    width: 40px;
}
.text-div{
    margin: 20px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-div a{
    text-decoration: none;
    color: white;
    text-align: center;
}
#linkdin-svg{
    width: 35px;
    height: 35px;
}
.foot-container{
    display: flex;

}
.foot-sub-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}